body {
  overflow-x: hidden;
  width: 100vw;
}

.section-view {
  width: 100vw;
  height: 80vh;
}

.link-button {
  text-decoration: none;
  color: #25472B;
}

.div-text {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: justify;
}

.img-voluntario {
  max-width: 500px;
  margin: 0 10px;
}

.section-voluntariado {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 80vh;
  text-align: center;
}

.container1-voluntariado{
  display: flex;
  gap: 10vh;
}

.container-card-causa {
  display: flex;
  gap: 20px;
}

.card-causa {
  position: relative;
  width: 16vw;
  background: white;
  /* Card background color */
  padding: 25px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(51, 51, 51, 0.4);
  -moz-box-shadow: 0px 0px 10px 0px rgba(51, 51, 51, 0.4);
  box-shadow: 0px 0px 10px 0px rgba(51, 51, 51, 0.4);
}

.card-number {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 30px;
  height: 30px;
  background: #fff;
  font-size: 22px;
  /* Background color of the circle */
  border: 4px solid #DD7631;
  /* Border color of the circle */
  border-radius: 50%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #25472B;
  /* Text color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-information {
  margin-top: 20px;
  /* Adjust as needed */
}

.card-information p {
  text-align: justify;
  font-size: 18px;
}

.span-titulo-card-voluntario{
  font-size: 20px;
}

.card-ex {
  width: 400px;
  background: #fff;
  /* Card background color */
  padding: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(51, 51, 51, 0.4);
  -moz-box-shadow: 0px 0px 10px 0px rgba(51, 51, 51, 0.4);
  box-shadow: 0px 0px 10px 0px rgba(51, 51, 51, 0.4);
  font-size: 20px;
  margin-bottom: 10vh;
}

.card-ex p {
  text-align: justify;
}

.p-section-ex{
  font-size: 18px;
}

.img-pessoa {
  width: 120px;
}

.titulo-section3-voluntariado{
  margin-top: 12vh;
}