* {
  overflow-x: clip;

  .forum-ong {
    display: flex;
    width: 100%;
    align-items: center;
  }

  .esquerda{
    width: 25%;
    display: flex;
    margin-left: 11vh;
    margin-top: 5vh;
    
  }

  .direita{
    width: 75%;
    display: flex;
    align-items: start;
    flex-direction: column;
    height: 92vh;
    gap: 2vh;
    margin-top: 5vh;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .infos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40vh;
    height: 60vh;
    background-color: #F2F6EF;
    border-radius: 15px;
    padding: 5vh;
  }

  .logo-container {
    align-items: center;
    margin-bottom: 20px;
    width: 125px;
    border-radius: 70px;
    border: 6px solid #285430;
  }
  
  .logo {

    height: auto;
    border-radius: 50%;
  }

  h2 {
    text-align: center;
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
    font-family: 'League Spartan', sans-serif;
  }

  p {
    text-align: center;
    color: #333;
    font-size: 14px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
  }

  .sidebar a {
    list-style-type: none;
    padding: 0;
  }

  .sidebar a {
    padding: 10px;
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
    position: relative;
    text-decoration: none;
    color: #333;
  }


  .barra-post {
    display: flex;
  }

  .mensagens{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
  }

  .mensagens a {
    transition: color 0.3s ease;
  }
  
  .mensagens a:hover {
    color: #E49D6A;
  }
  
  .search-input {
    padding: 10px;
    width: 116vh;
    background-color: #F2F6EF;
    border-radius: 10px;
    flex-grow: 1;
    margin-right: 15px;
    font-size: 12px;
    border: none;
  }
  
  .search-button {
    background-color: #25472B;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  

  .notifications-container {
    display: flex;
    flex-direction: column;
    width: 40vh;
    height: 30vh;
    background-color: #F2F6EF;
    border-radius: 25px;
    padding: 5vh;
    margin-top: 3vh;
  }

  .descricao-notificacoes {
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
  }

 
  .notifications-container h2 {
    color: #333;
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;
    text-align: start;
  }
}