.aba-conversas{
    display: flex;
    flex-direction: column;
    background-color: #8b8b8b;
    width: calc(464px);
    text-align: center;
    height: 100%;
    border-radius: 0 0 0 16px;
}

.chat-card{
    display: inline-flex;
    justify-content: flex-start;
    gap: 15px;
    width: 464px;
    align-items: center;
    background: rgba(255,255,255,1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px; 
}

.selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.header-chat{
    display: flex;
    flex-direction: row;
    background-color: #8b8b8b;
    border-radius:16px 16px 0 0;
}

.chat-body {
    display: flex;
    flex-direction: row;
    flex: 1;
    background: #F2F6EF;
}

.pesquisa-chat{
    padding: 32px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(464px);
    background-color: #8b8b8b;
    border-radius: 16px 0 0 0;
}

.chat-content-container{
    background: #F2F6EF;
    flex: 3 1;
    flex-direction: column;
    box-sizing: border-box;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow-y: auto;
    height: 739px;
}

.chat-content{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.sender {
    background-color: #A4BE7B;
    color: #000;
    align-self: flex-end;
    border-radius: 16px;
    padding: 16px;
    margin: 5px;
    max-width: 40%;
    word-wrap: break-word;
    font-size: 14px;
    word-wrap: break-word;
    animation: message-animation 0.3s ease-out;
}

.receiver {
    background-color: #b6b6b6;
    color: #000000;
    align-self: flex-start;
    border-radius: 16px;
    padding: 16px;
    margin: 5px;
    max-width: 50%;
    font-size: 14px;
    word-break: break-all;
    animation: message-animation 0.3s ease-out;
}

.message{
    display: flex;
    flex-direction: column;
    margin: 8px;
}

.message-time{
    font-size: 12px;
    color: #000000;
    margin: 0;
}

.input-message{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #F2F6EF;
    width: 100%;
}

.input-message input{
    width: 100%;
    font-size: 16px;
    border-radius: 0%;
    outline: none;
}

.input-message .inp-image{
    width: 25px;
    height: 35px;
    right: 25px;
    background: #E1E1E1;
}

.info-chat{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-left: 16px;
}

@keyframes message-animation {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}