span{
    font-weight: 700;
}

.p-post{
    font-size: 18px;
}

.post{
    background-color: #F2F6EF;
    border-radius: 15px;
    padding: 25px;
    width: 60vw;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.side-right{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.foto-usuario{
    width: 10vw;
    border: 6px solid #285430;
    border-radius: 100px;
}

.side-left{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nome-usuario{
    font-size: 22px;
    font-weight: 700;
}