.botao-geral {
    background-color: #FFFFFF;
    border: 3px solid #F19150;
    border-radius: 50px;
    color: #25472B;
    padding: 0.8em 1em;
    cursor: pointer;
    width: 120px;
    transition: background-color 0.3s, color 0.3s;

  }
  
  .botao-geral:hover {
    background-color: #F19150;
    color: #ffffff;
  }