/* Reset */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
.headerOng {
  background-color: #2B4B27;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.9em 2em;
  border-radius: 25px;
  width: 100%;
  max-width: 100rem; /* Alinha ao padrão */
  margin: 1rem auto;
  font-size: 18px;
  font-weight: 500;
  
}

/* Navbar */
.navOng {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-listOng {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 3em; /* Ajuste para espaçamento padronizado */
  margin: 0;
  padding: 0;
}

.nav-itemOng {
  display: flex;
  align-items: center;
}

.nav-linkOng {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1em;
}

.logoOng {
  display: flex;
  align-items: center;
}

.logo-imgOng {
  max-height: 50px;
}

/* Responsividade */
@media (max-width: 768px) {
  .nav-listOng {
    flex-direction: column;
    gap: 1.4em;
    border-radius: 10px;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #2B4B27;
    padding: 1em;
    display: none;
    z-index: 10;
  }

  .navOng {
    justify-content: space-between;
  }

  .logo-imgOng {
    max-height: 35px;
  }

  .headerOng {
    padding: 20px;
    padding-right: 45px;
    padding-left: 40px;
  }

  .nav-linkOng {
    font-size: 0.85em;
  }
}

@media (max-width: 480px) {
  .nav-listOng {
    gap: 1em;
    font-size: 18px;
  }

  .headerOng {
    font-size: 12px;
    padding: 1.2em;
    padding-right: 30px;
    padding-left: 30px;
    width: 100%;
    height: auto;
    text-align: center;
  }
}
