.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 16px;
    max-width: 500px;
    width: 90%;
    max-height: 90vh;
    overflow-y: auto;
}

.input-container {
    position: relative;
    margin: 20px 0;
}

.input-money {
    width: 100%;
    padding: 15px;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 32px;
    text-align: left;
    font-weight: bold;
}

.input-money:focus {
    outline: none;
    border-color: #235307;
    box-shadow: 0 0 0 2px rgba(28, 95, 2, 0.5);
}

.qr-code-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}

.qr-code-image {
    max-width: 200px;
    height: auto;
}

.pix-code {
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 8px;
    width: 100%;
    text-align: center;
}

.pix-code code {
    display: block;
    word-break: break-all;
    margin-top: 10px;
    font-size: 12px;
    color: #666;
}

/* Novo estilo para os botões */
.buttons-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 100%;
}