/* Estilos gerais */
body {
  overflow-x: hidden;
  width: 100vw;
}

.view-80 {
  height: 80vh;
  width: 100vw;
}

.div-texto1 {
  width: 40%;
  padding: 18px;
  display: flex;
  flex-direction: column;
}

.div-texto1 p{
  font-size: 22px;
  text-align: justify;
}

.div-texto2 h1{
  font-size: 36px;
  text-align: justify;
}

.div-img1 {
  width: 30%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.img-doacao {
  width: 90%;
  margin: 0 10px;
}

.section2 {
  background-color: #F2F6EF;
  padding: 40px 0;
}

.bar-right {
  width: 100vw;
  display: flex;
  justify-content: end;
}

.img-laranja {
  width: 30vw;
}

.bar-left {
  margin-bottom: 0vh;
}

.img-verde {
  width: 30vw;
}

.div-img-coracao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-texto2 {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.div-texto2 p{
  font-size: 22px;
  text-align: justify;
}

.img-coracao {
  max-width: 650px;
  margin: 10px 0;
}

.container-card-causaV {
  justify-content: center;
  gap: 5vh;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px; /* Adjust gap as needed */
  flex-wrap: wrap;
}

.cards h2 {
  font-size: 2em;
  margin-bottom: 40px;
}

.card-causa1 {
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px rgba(51, 51, 51, 0.4);
  font-size: 22px;
  height: 90%;
  text-align: center;
  padding: 30px;
  width: 20%;
}

.card-information1 p {
  text-align: justify;
  font-size: 20px;
}

.card-information1 span{
  font-size: 22px;
}

.card-information1 span {
  font-weight: 800;
}

.causas2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.titulo-causas{
  margin-top: 12vh;
  color: black;
}

/* Media Queries para telas menores */

/* Para telas até 1200px */
@media (max-width: 1200px) {
  .div-texto1,
  .div-texto2 {
    width: 60%; /* Ajusta a largura da coluna de texto */
    text-align: center;
  }

  .div-texto1 p{
    font-size: 18px;
  }

  .div-texto2 p{
    font-size: 18px;
  }

  .div-img1,
  .div-img-coracao {
    width: 60%; /* Ajusta a largura das imagens */
  }

  .img-doacao {
    max-width: 70%; /* Ajusta a largura da imagem de doação */
  }

  .img-coracao {
    max-width: 80%; /* Ajusta a largura da imagem de coração */
  }

  .bar-left, .bar-right {
    display: none; /* Esconde as barras laterais em telas menores */
  }

  .section2 {
    padding: 30px 10px;
    padding-right: 40px;
    margin-bottom: 16rem;
  }

  .card-information1 span{
    font-size: 16px;
  }
}

/* Para telas até 768px */
@media (max-width: 768px) {
  .div-texto1,
  .div-texto2 {
    width: 90%; /* Ajusta a largura da coluna de texto para 100% */
    text-align: center;
    margin: 0;
  }

  .div-texto1 {
    margin-top: 4rem;
  }

  .div-texto1 p,
  .div-texto2 p {
    font-size: 14px; /* Ajusta o tamanho da fonte do texto */
  }

  .div-texto2 h1 {
    font-size: 20px; /* Ajusta o tamanho da fonte do título */
  }

  .div-img1 {
    width: 80%; /* Ajusta a largura das imagens para 100% */
    text-align: center; /* Centraliza a imagem */
    margin-top: -90px;
  }

  .img-doacao,
  .img-coracao {
    max-width: 80%; /* Ajusta o tamanho das imagens */
  }

  /* Esconde a div com a imagem de coração */
  .div-img-coracao {
    display: none;
  }

  /* Alinha os itens no layout de coluna */
  .view-80 .d-flex {
    flex-direction: column;
    align-items: center; /* Centraliza os itens no centro */
  }

  /* Esconde as barras laterais em telas menores */
  .bar-left,
  .bar-right {
    display: none;
  }

  .section2 {
    padding: 30px 10px;
    margin-bottom: 20rem;
  }

  /* Ajuste nos cards para ficarem em coluna */
  .container-card-causaV {
    display: flex;
    flex-direction: column; /* Organiza os cards em uma coluna */
    gap: 20px; /* Espaço entre os cards */
    justify-content: center;
    align-items: center;
  }

  .card-causa1 {
    width: 80%; /* Ajusta a largura do card para 100% */
    padding: 10px;
    font-size: 14px;
  }

  /* Modifica a apresentação do texto nos cards */
  .card-information1 span {
    font-size: 12px;
    padding: 5px;
  }

  .content-card {
    padding: 5px;
    font-size: 10px;
  }
}


/* Para telas até 480px */
@media (max-width: 480px) {
  .div-texto1,
  .div-texto2 {
    width: 90%; /* Ajusta a largura da coluna de texto para 90% */
    text-align: center;
    margin: 0;
  }

  .div-texto1 {
    margin-top: 4rem;
  }

  .div-texto1 p,
  .div-texto2 p {
    font-size: 14px; /* Ajusta o tamanho da fonte do texto */
  }

  .div-texto2 h1 {
    font-size: 20px; /* Ajusta o tamanho da fonte do título */
    text-align: center;
    margin-top: 10px;
  }

  .div-img1 {
    width: 80%; /* Ajusta a largura das imagens */
    text-align: center; /* Centraliza a imagem */
    margin-top: -90px;
  }

  .img-doacao,
  .img-coracao {
    max-width: 80%; /* Ajusta o tamanho das imagens */
  }

  /* Esconde a div com a imagem de coração */
  .div-img-coracao {
    display: none;
  }

  /* Alinha os itens no layout de coluna */
  .view-80 .d-flex {
    flex-direction: column;
    align-items: center; /* Centraliza os itens no centro */
  }

  /* Esconde as barras laterais em telas menores */
  .bar-left,
  .bar-right {
    display: none;
  }

  .section2 {
    padding: 30px 10px;
    margin-bottom: 20rem;
  }

  /* Ajuste nos cards para que fiquem em coluna */
  .container-card-causaV {
    display: flex;
    flex-direction: column; /* Alinha os cards em coluna */
    gap: 20px; /* Adiciona espaço entre os cards */
    justify-content: center;
    align-items: center;
  }

  .card-causa1 {
    width: 80%; /* Ajusta a largura do card para 100% */
    padding: 10px;
    font-size: 14px;
  }

  /* Modifica a apresentação do texto nos cards */
  .card-information1 span {
    font-size: 12px;
    padding: 5px;
  }

  .content-card {
    padding: 5px;
    font-size: 10px;
  }
}
