body {
  overflow-x: hidden;
  width: 100vw;
}

.section-view {
  width: 100vw;
  height: 80vh;
}

.div-texto1-helpline {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.p-helpline{
  font-size: 22px
}

.div-img1-helpline {
  width: 30%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.img-doacao {
  max-width: 400px;
  margin: 0 10px;
}

.section2{
  background-color: #F2F6EF;
}

.bar-right{
  width: 100vw;
  display: flex;
  justify-content: end;
}

.img-laranja{
  width: 30vw;
}

.bar-left{
  margin-bottom: 0vh;
}

.img-verde{
  width: 30vw;
}

.div-img-coracao{
  display: flex;
  flex-direction: column;
}

.div-texto2{
  width: 45%;
  display: flex;
  flex-direction: column;
}

.img-coracao{
  max-width: 580px;
  margin: 10 0px;
}


.cards-container{
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px; /* Adjust gap as needed */
  flex-wrap: wrap;
}

.cards h2 {
  font-size: 2em;
  margin-bottom: 40px;
}

.card-causa-helpline{
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
  width: 340px; /* Adjust width as needed */
  margin: 25px; /* Adjust margin as needed */
  -webkit-box-shadow: 6px 4px 29px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 4px 29px -10px rgba(0,0,0,0.75);
  box-shadow: 6px 4px 29px -10px rgba(0,0,0,0.75);
}

.card-information{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.span-card-helpline{
  font-size: 20px;
}

.p-card-helpline{
  font-size: 18px;
}

.causas{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}