@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.bar-left {
    width: 50%;
    bottom: 100px;
    display: flex;
    justify-content: flex-start;
    z-index: 1;
}

.texto-ong {
    font-size: 22px;
    font-weight: 400;
}

.destaque-span {
    font-weight: 700;
}

.bar-right {
    width: 100vw;
    bottom: 50px;
    display: flex;
    justify-content: end;
    z-index: 1;
}

.div-texto-ong {
    width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.section1-ong{
    display: flex;
    gap: 80px;
}


.div-img1 {
    width: 30%;
    padding: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    /* Space between elements */
}

.img-selo {
    max-width: 400px;
    margin: 0 10px;
}

/* BLOCO DOIS */


.bloco-dois {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}

.div-card-ong {
    display: flex;
    align-items: center;
    gap: 30px;
}

.img-card-ong {
    width: 320px;
    margin-left: 15px;
}

.card-ong {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 10px 10px 25px 10px;
    width: 360px;
    align-items: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    justify-content: center;
    display: flex;
    flex-direction: column;
}


.div-text-ong {
    padding: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.titulo-card-ong {
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
}

.text-card {
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.btn-conhecer-ong {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    background-color: #FFFFFF;
    border: 3px solid #F19150;
    border-radius: 50px;
    color: #25472B;
    padding: 5px 30px;
    cursor: pointer;
    width: 170px;
    transition: background-color 0.3s, color 0.3s;
}

.btn-conhecer-ong:hover {
    background-color: #F19150;
    color: #ffffff;
}

.bloco-tres{
    display: flex;
    align-items: center;
    gap: 5vh;
}

.card-ong-session3{
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 10px 10px 20px 10px;
    width: 360px;
    align-items: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    justify-content: center;
    display: flex;
}

.section-ong3{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
}